.selector {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 11rem;
  height: 11rem;
  margin-top: -5rem;
  margin-left: -5rem;
}

.selector, .selector .roundCenter {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

.selector .roundCenter {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #428bca;
  border-radius: 50%;
  border: 0;
  color: white;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.1s;
}

.selector .roundCenter:hover {
  background: #3071a9;
}

.selector .roundCenter:focus {
  outline: none;
}

.containerCircles {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50vh;
  height: 50vh;
  margin: -25vh;
  border: 1px solid #000;
  border-radius: 50%;
  /* animation: spin 10s linear infinite; */
}
.item {
  width: 15vh;
  height: 15vh;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  background: #f00;
  left: 152%;
  display: flex;
  justify-content: center;
  align-items: center;

}

@keyframes circle {
  from {-webkit-transform: rotateZ(0deg) translateX(225px)}
  to {-webkit-transform: rotateZ(-360deg) translateX(225px)}
}