.selector {
  position: absolute;
    width: 11rem;
    height: 11rem;
    display: flex;
    justify-content: center;
    text-align: center;

}

.selector, .selector .roundCenter {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

.selector .roundCenter {
  position: relative;
  width: 150px;
  height: 150px;
  background: #d6b704;
  border-radius: 50%;
  border: 0;
  color: white;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.1s;
}

.selector .roundCenter:hover {
  background: #b88d16;
  transition: 0.5s;
}

.selector .roundCenter:focus {
  outline: none;
}

.containerCircles {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 600px;
  height: 600px;
  margin: -25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #000; */
  border-radius: 50%;
}
.item {
  width: 150px;
  height: 150px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  background: #ffc4c4;
  display: flex;
  justify-content: center;
  align-items: center;

}

@keyframes circle {
  from {-webkit-transform: rotateZ(0deg) translateX(225px)}
  to {-webkit-transform: rotateZ(-360deg) translateX(225px)}
}